/* font calling */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'PT Serif', serif;
}

/* wraper */
.wraper {
    max-width: 100%;
    height: 600px;
    position: relative;
    margin: 50px;
    color: #fff;

}

/* image  */
img {
    max-width: 100%;
    z-index: 999;
    position: relative;
}

/* background image */
.bgimage {
    width: 100%;
    height: 600px;
    background-image: url(../img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 50px;
    z-index: 1;
}

/* about box */
.about {
    position: relative;
    z-index: 99;
    width: 85%;
    margin: auto;
    padding: 200px 50px;
    background: #000;
}

/* blockquote before after */
blockquote::before {
    content: "";
    border: solid #fff;
    width: 54px;
    height: 54px;
    position: absolute;
    top: 0;
    left: 0;
    border-width: 1px 0 0 1px;
}

blockquote::after {
    content: "";
    border: solid #fff;
    width: 54px;
    height: 54px;
    position: absolute;
    right: 0;
    bottom: 0;
    border-width: 0px 1px 1px 0px;
}

/* about box text  */
.text {
    padding: 30px;
}

/* about box text head  */
.text h3 {
    font-weight: 700;
    font-size: 45px;
    line-height: 2em;
}

/* about box text footer  */
cite {
    font-weight: 700;
    font-size: 18px;
    font-style: normal;
}

/* quote mark hide */
blockquote q::before,
blockquote q::after {
    content: none;
}

/* line before name */
cite::before {
    content: '';
    background: #fff;
    display: inline-block;
    vertical-align: middle;
    height: 2px;
    width: 28px;
    margin-right: 4px;
}

/* small text */
small {
    margin-left: 8px;
    color: #666c84;
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
}
/* button */

a.btn {
    color: #fff;
    border: 2px solid #cca876;
    background: transparent;
    padding: 0px 40px;
    line-height: 2.5em;
    font-size: 17px;
    font-weight: 700;
    border-radius: 0px;
}

a.btn:hover {
    color: #fff;
    background: #cca876;
}